
h2 {
    color: orange;
}

*{
    text-align: center;
}

.canvas-container{
    background-color: aqua;
}
        
#my-canvas{
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

image {
    background-position: center;
    z-index: -4;
}

.gallery-grid img {
    height: 200px;
    border-radius: 20px;
    margin: 5px;
}