
button {
    border-radius: 10px;
    cursor: pointer;
}

*{
    text-align: center;
    box-sizing: border-box;
    font-family: poppinsMed;
}

html {
    background: linear-gradient(var(--clr13),var(--clr10));
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

h5{
    margin-top: 0.3em;
}

a{
    text-decoration: none;
}

.masseges{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 9.5em;
    font-size: .9em;
    width: 330px;
    border-radius: 2em;
    background-color: var(--clr10);
    border: solid 1px var(--clr1);
    box-shadow: 0 0 20px var(--clr5);
    padding: .5em;
}

.close-btn{
    background-color: var(--clr7);
    width: 1.7em;
    height: 1.7em;
    display:inline-block;
    border: 1px solid var(--clr1);
    margin-bottom: 1.5em;
    cursor: pointer;
    border-radius: 0.1em;
    font-weight: bolder;
}

a {
    color: var(--clr8);
}


/* 
html {
    color: var(--clr1);
    line-height: 1.71;
    font-family: lato;
}


body {
    margin: 0;
    font-size: 0.875rem;
}

img {
    width: 100%;
}



a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 400;
    line-height: 1.1;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 1.5em;
    word-spacing: 2px;
}

p {
    font-size: 1em;
    margin-bottom: 3em;
    letter-spacing: .8px;
} */