


@media (max-width:420px){
    .meme-editor{
        flex-direction: column;
    }

}













/* 

@media (min-width: 660px) {
    .main-layout {
        max-width: 980px;
        margin: 0 auto;
    }
    
    .main-content>*:nth-child(1){
        margin-top: 2.4062em;
    }

    .card-image{
        margin-bottom: 0px;
    }

    .btn-menu {
        display: none;
    }

    .main-header .main-nav a {
        border-right: 1px solid var(--clr2);
    }
}


@media (min-width: 1000px) {
    .main-layout {
        max-width: 980px;
        margin: 0 auto;
    }

    .logo {
        margin-left: 0px;
    }
    
    .main-content>*:nth-child(1){
        margin-top: 4.4062em;
    }
}


/* MOBILE ONLY  */
/* @media (max-width: 660px) {

   ul.main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--clr5);
        height: 100vh;
        min-width: 220px;
        border-left: solid 1px var(--clr6);
        transform: translateX(100%);
        justify-content: flex-start;
        transition: transform .6s, box-shadow .6s;
        z-index: 10;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    }

    .main-layout {
        margin: 0;
        max-width: 660px;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    h2 {
        margin-bottom: 0;
    }
    
    
    p {
        margin-bottom: 0;
    }
    
    .text{
        line-height: 1.4em;
        max-width: 1000px;
        margin-bottom: 0.84375em ;
        margin-right: 1.25em;
    }
    
    .main-content>*:nth-child(1) {
        margin-top: 0.062em;
    }

    img.card-image{
        margin-right: 0px;
        order: 0;
    }

    .nav-li{
        /* margin-top: 3.5em; */
        /* display: flex;
        justify-content: space-around;
    }
}  */ 