


@media (max-width:420px){
    .meme-editor{
        flex-direction: column;
        background-image: url("img/bg.png");
        background-size: 180%;    
    }

    .gallery-grid img {
        height: 5em !important;
        border-radius: 20px;
        margin: .5em;
    }

    .top-search-words{
        font-size: .6em;
    }

    .tools{
        width: 100%;
    }

    .emojis{
        margin: 0.7em;
    }
    .text-editor{
        width: 80%;
        padding: 5px;
    }

    .sec-nav{
        flex-direction: column;
    }

    .third-nav{
        margin-top: .5em;
    }
}




@media (min-width:420px){


    .main-header{
        max-width: 80%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .meme-editor{
        max-width: 70%;
        padding: 2em;
        background-image: url("img/bg.png");
        background-size: 100% 200%;    
    }
    
    .gallery-container{
        max-width: 80%;
        margin-top: 1em;
    }


    .gallery-grid img {
        height: 10em !important;
        /* border-radius: 20px; */
        max-width: 70%;
    }
    
    .tools{
        width: 50%;
        margin-left: 2em;
        align-items: center;
        height: 250px;
        justify-content: space-between;
    }

    .tools button {
        min-width: 10em;
        max-width: 7em;
        text-align: center;
        margin: auto;
    }

        .text-editor{
        vertical-align: middle;
        line-height: 3em;
        width: 70%;
        padding: 0 10px;
    }

    .share {
        margin-bottom: 0.7em;
    }

}
