


.meme-editor {
    width: 85%;
    margin: auto;
    line-height: 2.3em;
}

.none {
    display: none;
}

.canvas-container {
    flex-grow: 30;
    position: relative;
}

#my-canvas{
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid var(--clr7);
}

.tools {
    background-color: var(--clr11);
    border-radius: 20px;
    flex-direction: column;
    padding: .5em;
}

.tools button {
    max-width: 8em;
    min-width: 2em;
}

.text-input{
    width: 80%;
    border-radius: 20px;
}

.color-input{
    cursor: pointer;
}

.font-bigger{
    width: 10%;
}

.font-smaller{
    width: 10%;
}

.switch-lines{

}

.add-lines{

}

.emojis{

}

.delete-lines{

}

.share{

}

.download{

}


.modal {
    /* height: 50px; */
    width: 380px;
    background-color: var(--clr11);
    border: 1px solid var(--clr4);
    border-radius: 2px;
    /* padding: 5px; */
    position: absolute;
}

.stick-to-canvas{
    text-align: initial;
}