


.meme-editor {
    width: 95%;
    margin: auto;
    /* line-height: 2.3em; */
}

.none {
    display: none;
}

.canvas-container {
    flex-grow: 30;
    position: relative;
}

#my-canvas{
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid var(--clr7);
}

.tools {
    background-color: var(--clr11);
    border-radius: 20px;
    flex-direction: column;
    padding: .5em;
}

.tools button {
    max-width: 8em;
    min-width: 2em;
}

.text-input{
    width: 80%;
    border-radius: 20px;
    margin: 0.7em 0;
}

.color-input{
    cursor: pointer;
}

.font-bigger{
    width: 10%;
}

.font-smaller{
    width: 10%;
}

.text-editor{
    background-color: var(--clr15);
    border-radius: 20px;
    height: 3em;
}

.switch-lines{

}

.add-lines{

}

.emojis{
    background-color: var(--clr14);
    width: 11em;
    border: solid 1px var(--clr1);
    margin-bottom: .7em;
    /* height: 2.2em; */
    cursor: pointer;
    border-radius: 20px;

}

.delete-lines{

}

.share{

}

.download{

}


.modal {
    /* height: 50px; */
    width: 347px;
    background-color: var(--clr11);
    border: 1px solid var(--clr2);
    border-radius: 10px;
    /* padding: 5px; */
    position: absolute;
}

.stick-to-canvas{
    text-align: initial;
}