
@font-face {
    font-family: poppinsMed;
    src: url(../../fonts/poppins/Poppins-Medium.ttf);
}


@font-face {
    font-family: poppinsReg;
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

