:root {
    --clr1: #626262;
    --clr2: #383B42;
    --clr3: #0C98B9;
    --clr4: #33BE6D;
    --clr5: rgb(36, 36, 36);
    --clr6: #22252C;
    --clr7: #87898D;
    --clr8: #FEFEFE;
    --clr9: #ffbbe3;
    --clr10: #F88558;
    --clr11: #ebeef323; 
    --clr12: #b34ff6;
    --clr13: #f8c558;
    --clr14: #8076FD;
    --clr15: #19A59F;
    --clr16: #CF1D37;
    --clr17: #1E7CD3;
    --clr18: #8F44BB;
}