:root {
    --clr1: #626262;
    --clr2: #383B42;
    --clr3: #0C98B9;
    --clr4: #33BE6D;
    --clr5: rgb(36, 36, 36);
    --clr6: #22252C;
    --clr7: #87898D;
    --clr8: #FEFEFE;
    --clr9: #F64F8B;
    --clr10: #F88558;
    --clr11: #ebeef323;
}
